body{
    font-family: 'Roboto', sans-serif;
}
.header{
    display: flex;
}
.logo-container{
    flex-grow: 1;
}
.logo{
    max-width: 63px;
}

.nav-menu ul{
    display: flex;
    gap: 2.2vw;
    list-style-type: none;
}