body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: white;

}

h1{
    font-weight: normal;
    font-size: calc(2.5vw + 1rem);
}
p{
    font-weight: normal;
    font-size: calc(0.6vw + 1rem);
}

.header{
    position: absolute;
    top:0;
    left:0;
    right:0;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 100px;
    z-index: 10;
    align-items: center;
}
.logo-container{
    flex-grow: 1;
}
.logo{
    max-width: 63px;
}

.nav-menu ul{
    display: flex;
    gap: 2.2vw;
    list-style-type: none;
    align-items: baseline;
    
}
.nav-menu ul a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    
}
.nav-menu ul .apply-button{
    display: flex;
    align-items: baseline;
    gap: 10px;
    color: white;
    background-color: #0d0;
    border-radius: 5px;
    padding: 10px 20px;
    border: 0;
}
.nav-menu ul .apply-button .button-arrow{
    display: none;
}

main{
    display: flex;
    flex-direction: column;
}
.section{
    position: relative;
    top:0;
    left: 0;
    right: 0;
    height: calc(80vmax * .7);
}
.landing-image-container, .landing-image-container .overlay{
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    bottom:0;
}

.landing-image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.landing-image-container .overlay{
    background-color: black;
    opacity: 0.5;
  
}

.content-wrapper{
    position: relative;
    top: 130px;
    bottom: 0px;
}
.landing-content{
    position: relative;
    padding-top: calc(80vmax/5);
    width: calc(30vw + 2rem);
    color: white;
    left: calc(5vw + 1rem);
    word-wrap: normal;
}



.learn-more-button{
    text-decoration: none;
    color: white;
    font-weight: 600;
    background-color: #0d0;
    border-radius: 5px;
    padding: 10px 20px;
    transition: .1s opacity linear;
}
.learn-more-button:hover{
    opacity: 0.8;
    
}

.nav-menu-button{
    display: none;
}

.summary, .information, .graduates{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 80vw; */
    padding-left: calc(10vw + 1rem);
    padding-right: calc(10vw + 1rem);
    
}
.summary-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.summary-item p{
    text-align: center;
}
.information-item{
    display: flex;
    flex-direction: column;
    align-items: left;
    
}
.summary-numbers{
    color: #18ea19;
}

.information a {
    color: #18ea19;
}

.programs-section{
    background-color: #18ea19;
}

.programs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.programs .cards{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    gap: 30px;
}
.programs .cards img{
    width: 100%;
    height: 100%;
}

.graduates img{
    width: 100%;
    object-fit: cover;
}

.recruitments{
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
}

.recruitments img{
    width: 80%;
    object-fit: cover;
}

.media-section{
    background-color: #eee;
}   

.media-section .media{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.media-section .media .images, .strategic .images{
    display: flex;
    align-items: center;
    width: 100%;
}
.media-section .media .images img, .strategic .images img{
    width: 25%;
    object-fit: cover;
}

.funding, .strategic{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.funding img{
    width: 100%;
    object-fit: cover;
}





@media only screen and (max-width: 768px){
    .header{
        padding: 20px 30px;
    }
    .nav-menu ul {
        position: fixed;
        background-color: white;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: space-around;
        gap: calc(-100px);
        top: 0;
        left: 100vw;
        overflow: hidden;
        height: calc(100vmax);
        margin: 0;
        transition:left 0.1s ease-in;
    }
    .nav-menu ul a{
        color: black;
        font-size: 30px;

    }
    .nav-menu ul .apply-button{
        color: black;
        background-color: transparent;
        font-size: 30px;
    }
    .nav-menu ul .apply-button .button-arrow{
        display: block;
    }

    .nav-menu-button{
        display: block;
    }
    .nav-menu-button button{
        color: white;
        opacity: 0.7;
        font-size: 25px;
        background: none;
        border: none;
    }
    .nav-menu-button #hide-button{
        color: black;
        display: none;
    }
    .section{
        height: 100vmax;
    }
    .landing-content{
        padding-top: calc(50vh/10);
    }
    .summary, .information, .graduates{
        flex-direction: column;
    }
    .programs .cards{
        flex-direction: column;
    }
    .media-section .media .images, .strategic .images{
        gap: 20px;
        flex-direction: column;
    }
    .media-section .media .images img, .strategic .images img{
        width: 50%;
    }
}